{% trans_default_domain "systeminfo" %}

{% set icons = asset('bundles/ezplatformadminui/img/ez-icons.svg') %}

<!-- Tab name: {{ 'tab.name.ez'|trans|desc('Platform') }} -->

<section class="ez-fieldgroup">
    <h2 class="ez-fieldgroup__name">{{ 'platform'|trans|desc('Platform') }}</h2>
    <div class="ez-fieldgroup__content">
        <table class="table ez-table--list ez-table--to-left">
            <tbody>
            <tr class="ez-table__row">
                <td class="ez-table__cell">{{ 'platform.name'|trans|desc('Name') }}</td>
                <td class="ez-table__cell">{{ info.name }}</td>
            </tr>
            <tr class="ez-table__row">
                <td class="ez-table__cell">{{ 'platform.version'|trans|desc('Version') }}</td>
                <td class="ez-table__cell">{{ info.release }}</td>
            </tr>
            <tr class="ez-table__row">
                <td class="ez-table__cell">{{ 'platform.is_enterprise'|trans|desc('Is Enterprise') }}</td>
                <td class="ez-table__cell">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="{{ icons }}#{{ (info.isEnterpise == true) ? 'checkmark' : 'discard' }}"></use>
                    </svg>
                </td>
            </tr>
            <tr class="ez-table__row">
                <td class="ez-table__cell">{{ 'platform.is_commerce'|trans|desc('Is Commerce') }}</td>
                <td class="ez-table__cell">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="{{ icons }}#{{ (info.isCommerce == true) ? 'checkmark' : 'discard' }}"></use>
                    </svg>
                </td>
            </tr>
            <tr class="ez-table__row">
                <td class="ez-table__cell">{{ 'platform.is_eom'|trans|desc('Is End of Maintenance') }}</td>
                <td class="ez-table__cell">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="{{ icons }}#{{ (info.isEndOfMaintenance == true) ? 'checkmark' : 'discard' }}"></use>
                    </svg>
                </td>
            </tr>
            <tr class="ez-table__row">
                <td class="ez-table__cell">{{ 'platform.is_eol'|trans|desc('Is End of Life') }}</td>
                <td class="ez-table__cell">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="{{ icons }}#{{ (info.isEndOfLife == true) ? 'checkmark' : 'discard' }}"></use>
                    </svg>
                </td>
            </tr>
            <tr class="ez-table__row">
                <td class="ez-table__cell">{{ 'platform.is_trial'|trans|desc('Is Trial') }}</td>
                <td class="ez-table__cell">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="{{ icons }}#{{ (info.isTrial == true) ? 'checkmark' : 'discard' }}"></use>
                    </svg>
                </td>
            </tr>
            <tr class="ez-table__row">
                <td class="ez-table__cell">{{ 'platform.stability'|trans|desc('Stability') }}</td>
                <td class="ez-table__cell">{{ info.stability }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
